

@font-face {
    font-family: "antigoni";
    src: url(fonts/antigoni.otf);
}


body {
    background-color: white;
    margin: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'antigoni';
}

#main {
    width: 100vw;
    height: 100vh;
/*    background-color: white;*/
    display: block;
    flex-direction: column;
    overflow: hidden;
    margin: none;
    /*    z-index: -2;*/
}

#canvasp {
    position: fixed;
    display: block;
    z-index: -10;
    width: 100px;
    height: 50px;
}

#back {
    width: 100%;
    height: 15%;
    background-color: #111111;
    display: block;
    flex-direction: column;
/*    top: 0px;*/
/*    left: 0px;*/
    align-content: center;
    vertical-align: top;
    align-items: center;
    margin: none;
    overflow: hidden;
    justify-content: center;
}

#ontherolemarquee {
    width: 100vw;
    /*    max-width: 1000px;*/
/*    min-width: 600px;*/
    height: 15vh;
/*    margin-left: 10px;*/
    background-color: transparent;
    justify-content: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    color: white;
    font-family: 'bangla', Arial, serif;
    font-size: 14vh;
}

#ontherolediv {
    height: 20%;
/*    justify-content: center;*/
    display: flex;
    color: white;
    margin: 0px;
    vertical-align: middle;
/*    text-align: center;*/
/*    margin-top: 15px;*/
/*    margin-top: -14px;*/
}

#editorial {
    width: 80%;
    max-width: 1200px;
    height: 80%;
    display: inline-grid;
/*    flex-direction: row;*/
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

#editorial2 {
    width: 100%;
    height: auto;
/*    padding-top: 30px;*/
              
    display: flex;
    box-sizing: content-box;
    font-size: 33px;
    color: white;
    font-family: 'antigoni';
    text-align: left;
    vertical-align: top;
    align-self: center;
}

/*SEPARATOR*/

#front {
    width: 100vw;
    height: 85vh;
    margin: 0px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


#bigbox2 {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    vertical-align: middle;
    overflow: hidden;
    margin: 0px;
    z-index: 0;
    
    background-color: aqua;    
}




#subtitles  {
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: serif;
    z-index: 2;

}

#subtitles2   {
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: serif;
    z-index: 2;
}



#subtitle-text {
    width: 150px;
    height: auto;
    margin: 20px;
    font-family: 'bigCaslon', sans-serif;
}


