


body {
    background-color: white;
    margin: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
Helvetica, sans-serif;    
}

#main {
    width: 100vw;
    height: 100vh;
/*    background-color: white;*/
    display: block;
    flex-direction: column;
    overflow: hidden;
    margin: none;
    /*    z-index: -2;*/
}

#canvasp {
    position: fixed;
    display: block;
    z-index: -10;
    width: 100px;
    height: 50px;
}

#back {
    width: 100%;
    height: 15%;
    background-color: #111111;
    display: block;
    flex-direction: column;
/*    top: 0px;*/
/*    left: 0px;*/
    align-content: center;
    vertical-align: top;
    align-items: center;
    margin: none;
    overflow: hidden;
    justify-content: center;
}

#OTRM {
    width: 100vw;
    /*    max-width: 1000px;*/
/*    min-width: 600px;*/
    height: 15vh;
/*    margin-left: 10px;*/
    background-color: transparent;
    justify-content: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    color: white;
   
    font-size: 14vh;
}

#ontherolediv {
    height: 20%;
/*    justify-content: center;*/
    display: flex;
    margin: 0px;
    vertical-align: middle;
/*    text-align: center;*/
/*    margin-top: 15px;*/
/*    margin-top: -14px;*/
}

#editorial {
    width: 80%;
    max-width: 1200px;
    height: 80%;
    display: inline-grid;
/*    flex-direction: row;*/
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

#editorial2 {
    width: 100%;
    height: auto;
/*    padding-top: 30px;*/
    display: flex;
    box-sizing: content-box;
    font-size: 33px;
    color: white;
    
    text-align: left;
    vertical-align: top;
    align-self: center;
    padding-top: 400px;
}

/*SEPARATOR*/

#front {
    width: 100vw;
    height: 85vh;
    font-size: 10px;
    margin: none;
    
    display: block;
    /*    z-index: 1;*/
    /*    top: 220px;*/
/*    position: absolute;*/
}


/*
#back:hover~#front {
    height: 15vh;
}
#back:hover {
    height: 85vh;
}
*/



#bigbox1 {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: block;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

#bigbox2 {
    width: 100%;
    height: 100%;
/*    background-color: white;*/
    display: block;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
/*    z-index: 10;*/
    overflow: hidden;
}

.questions-overlay {
    min-width: 300px;
    max-width: 500px;
    height: 60%;
    position: relative;
    align-self: center;
    vertical-align: middle;
        
    text-align: center;
    font-size: 90px;
    color: crimson;  
    margin-top:75px;
    
}

/*
.question {
    min-width: 300px;
    max-width: 500px;
    height: auto;
}
*/




#subtitles {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    color: black;
    font-size: 20px;
    font-family: serif;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    margin: 20px 0px 20px 0px;
    background-color: white;
    
/*    z-index: 11;*/
}

#subtitle-text {
    width: 150px;
    height: auto;
/*    margin: 10px;*/
    font-family: Times, serif;
}

#mainmain-coments {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    overflow: hidden;
    
}

#main-coments {
/*    min-width: 300px;*/
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-self: center; 
    margin-left: -20px;
/*    z-index: 10;*/
/*    margin: 0px;*/
}


.coments {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    align-content: center;
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    position: relative;
/*    top: 6em;*/
    animation: marquee 080s linear infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    
/*    top: 500px;*/
/*    position: absolute;*/
}

@keyframes marquee {
    0%   { top: -2000px }
    100% { top: 50px }
}

.coments-pic {
    width: 30px;
    height: 30px;
    display: flex;
    margin-right: 10px;
    margin-top: 3px;
    filter: grayscale(100%);
}

#box1 {
    min-width: 270px;
    max-width: 470px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.coments-username {
    width: 100%;
    height: 10px;
    font-size: 10px;
    margin-bottom: 5px;
}

.coments-text {
    width: 100%;
    height: auto;
    font-size: 14px;
}


#images {
/*    position: absolute;*/
/*    top: 200px;*/
}

.images-questions {
    width: 300px;
    position: absolute;
    z-index: 3000;
    
    
}


